*{
    margin:0;
    padding:0;
    text-decoration:none;
    text-align:none;
    font-family: 'Courier New', Courier, monospace;
}

body{
    background-color:rgb(239, 174, 174);
}

header{
    background-color:black;
    color:white;
}

main{
    background-color: rgb(211, 174, 246);
}